<div *ngIf="employees">
    <label>Filter by:</label><br>
    <input type="text" id="filter" [(ngModel)]="searchValue"><br><br>
    <label>Total Number of Employees: </label><label id="count">{{ employees.length }}</label><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>Emp_ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees | filter: searchValue; let i = index">
                <td><a routerLink="/details/{{emp.id}}">{{emp.id}}</a></td>
                <td id="name{{i+1}}">{{emp.name}}</td>
                <td id="location{{i+1}}">{{emp.location}}</td>
                <td id="email{{i+1}}">{{emp.email}}</td>
                <td id="mobile{{i+1}}">{{emp.mobile}}</td>
                <td><button><a routerLink="/edit/{{emp.id}}">Edit{{i+1}}</a></button></td>
                <td><button><a routerLink="/delete/{{emp.id}}">Delete{{i+1}}</a></button></td>
            </tr>
        </tbody>
    </table>
</div>
