<h1>Add Employee</h1>
<div>
    <form [formGroup]="form">
        <label>Employee Name:</label>
        <input type="text" name="name" formControlName="name"><br><br>
        <label>Location:</label>
        <select name="location" formControlName="location">
            <option value="Bangalore">Bangalore</option>
            <option value="Chennai">Chennai</option>
            <option value="Pune">Pune</option>
            <option value="Hyderabad">Hyderabad</option>
        </select>
        <br><br>
        <label>Email:</label>
        <input type="email" id="email" formControlName="email"><br><br>
        <label>Mobile:</label>
        <input type="number" id="mobile" formControlName="mobile"><br><br>
        <button type="submit" (click)="addEmployee(form.value)" [disabled]="!form.valid" id="add">Submit</button>
    </form>
</div>
