<h1>Employee Details</h1>
<div>
    <label>ID:</label><label for="id">{{ employee.id }}</label><br>
    <label>Name:</label><label for="name">{{ employee.name }}</label><br>
    <label>Location:</label><label for="location">{{ employee.location }}</label><br>
    <label>Email:</label><label for="email">{{ employee.email }}</label><br>
    <label>Mobile:</label><label for="mobile">{{ employee.mobile }}</label><br><br>
</div>
<button (click)="back()">Back</button>